<% provide(:title, 'About') %>
<div id="content">
  <div>
    <div>
      <%= link_to image_tag('map-in-grass2.jpeg'), get_link('home') %>
      <span></span>
    </div>
    <b class="first">
      <strong>We Have Free Source code, library for all programmer</strong>
    </b>
    <p>
      We hope this library will help us all to build their own applications.
    </p>
    <b>We Have More Library for You</b>
    <p>
      In addition, we also hope you also like us, working together to share source code.
      The sharing of source code would be mean to people passionate programmer, but do not want to take time to rebuild what was available.
    </p>
    <b>Be Part of Our Community</b>
    <p>
      If you're experiencing issues and concerns about this library, join the discussion 
      <a href="#">
        on our forum
      </a> 
      and meet other people in the community who share the same interests with you.
    </p>
  </div>
</div>
