<% provide(:title, 'Contact') %>
<div id="contact">
  <h1>contact details</h1>	
  <p>This is contact form.</p>
  <ul>
    <li>Address : 64 A4 St, Ward 12, Tan Binh Dist, Ho Chi Minh City</li>
    <li>Phone Number : +84(8) 3811 7771</li>
    <li>Email : contact@techpropulsionlabs.com</li>			
  </ul>
</div>
