/*
Document   : common.css
Created on : Aug 1, 2012, 9:06:29 PM
Author     : hoaiphuongngo
Description:
Purpose of the stylesheet follows.
*/

/*
TODO customize this sample style
Syntax recommendation http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html
*/

$lightGray: #999;
$grayMediumLight: #eaeaea;
$grayDarker: #222;
$gray: #555;
$white: #fff;

@mixin box_sizing {
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box;
}
