<% provide(:title, 'Index') %>
<div class="center hero-unit">
  <h1>Welcome to the Sample App</h1>

  <h2>
    This is the home page for the
    <a href="http://www.techpropulsionlabs.com/">TPL Demo</a>
    application.
  </h2>

  <%= link_to "Sign up now!", get_link('signin'), :class => "btn btn-large btn-primary" %>
</div>
